<main class="site-wrapper">
  <div class="pt-table desktop-768">
    <div class="pt-tablecell page-home relative" style="background-image:
    url('/assets/images/22.jpg');
    background-position: center;
    background-size: cover;">
                    <div class="overlay"></div>

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title  home text-center">
                                  <span class="heading-page">
                                  </span>
                                    <p class="mt20"></p>
                                </div>

                                <div class="hexagon-menu clear">
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a  class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-universal-access"></i>
                                                </span>
                                                <span class="title"  (click)="open(mymodal5)">Liste des profils</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a  class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-bullseye"></i>
                                                </span>
                                                <span class="title">Ajouter un profil</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a  class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-braille"></i>
                                                </span>
                                                <span class="title">Liste de cours de change</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a  class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-id-badge"></i>
                                                </span>
                                                <span class="title">Ajouter un cours de change</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a  class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-life-ring"></i>
                                                </span>
                                                <span class="title">Works</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a  class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-clipboard"></i>
                                                </span>
                                                <span class="title">Preferences</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a  class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-map-signs"></i>
                                                </span>
                                                <span class="title">Contact</span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Describe modals -->
            <!-- model liste des profils -->
            <ng-template #mymodal5 let-modal>

              <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                  <button type="button" class="close" aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true" (click)="cancel()">×</span>

                  </button>

              </div>
              <table class="table table-hover">
                <thead >
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                 <th scope="col">Role</th>
                  <th scope="col">Password</th>

                  <th scope="col" style="text-align: center;">Action</th>
                </tr>
              </thead>
             <tbody>
                <tr *ngFor='let p of listUsers'>
                  <td >{{p.username}}</td>
                  <td >{{p.email}}</td>
                <td >{{p.role}}</td>
                  <td >{{p.password}}</td>
                  <td ><button  class="btn btn-outline-primary">Modifier</button><button class="btn btn-outline-danger" >Supprimer</button>     </td>

<td>                          </td></tr></tbody></table>

                   <!-- <button type="button" class="btn btn-outline-primary"
                          (click)="open(mymodal)" ><i class="bi bi-pencil-square"></i>Modifier</button>&nbsp;


                          <button id="checkBtn" class="btn btn-outline-secondary"
                          (click)="p.etatEnv='Validé';editCours(p);"
                          [disabled]="p.etatEnv=='Validé'||p.etatEnv=='Confirmé'||this.role!=2 "> <i class="bi bi-check2-circle"></i> Valider</button>




                           &nbsp;<button class="btn btn-outline-success" (click)="p.etatEnv='Confirmé';editCours(p);"
                           [disabled]="p.etatEnv=='Confirmé'||this.role!=3">
                            <i class="fab fa-android" aria-hidden="true"></i> Confirmer</button>
                           &nbsp;<button  class="btn btn-outline-dark" (click)="open(mymodal2)"
                           [disabled]="p.etatEnv!='Confirmé'||exportCheck()!=true"> -->
                </ng-template>
            <!-- model ajout profil -->







            <!--        <ng-template #mymodal5 let-modal>
              <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                  <button type="button" class="close" aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true" (click)="cancel()">×</span>

                  </button>

              </div>
              <div>
                <form>
                  <div class="modal-body" style=" display: flex;
                  flex-direction: row;margin-top: 10px;padding-bottom: 25vh;padding-top: 10vh; text-align: center;">

                      <div class="row"  style="flex: 1;
                      padding-right: 30px;">
                          <label>BH Achat</label>
                          <input class="form-control" [(ngModel)]="p.username" [ngModelOptions]="{standalone : true}" required />
                      </div>
                      <div class="row" style="flex: 1;padding-right: 30px;" type="text">
                          <label>BH Vente</label>
                          <input type="number" class="form-control" [(ngModel)]="p.emmail" [ngModelOptions]="{standalone : true}" required/>
                      </div>

                  </div>

                  <div class="modal-footer">

                      <button type="button" class="btn btn-outline-secondary"
                          (click)="modal.close('Save click')" (click)="cancel()">Cancel</button>
                      <button class="btn btn-outline-primary"(click)="editCours(p)" (click)="modal.close('Save click')">Validate</button>
                  </div>
              </form>
          </div>
          </ng-template> -->
  </main>
